*{
    margin: 0;
    padding: 0;
    outline: 0;
    color: #ffffff;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.header{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #2B2922;
}

.navbar{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 100px;
    height: 60px;
}

.list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
}

.list-item{
    list-style: none;
    font-size: 15px;
    margin: 0px 20px;
}

button{
    height: 50px;
    width: 150px;
    border-color: #A08F36;
    border-style: solid;
    border-radius: 10px;
    color: #A08F36;
    background-color: transparent;
    font-size: 20px;
    margin-right: 100px;
}

.content{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

h1{
    font-size: 60px;
    margin-left: 100px;
}

p{
    font-size: 15px;
    margin-right: 100px;
    padding: 0px 200px;
}

.justice-image img{
    width: 99vw;
    height: 900px;
}

.navigation{
    background-color: #2B2922;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 99vw;
    display: flex;
    justify-content: flex-end;
}

.back1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #39372D;
}

.fa-circle-left{
    color: #A08F36;
}

.back2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #A08F36;
}